* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #3a0ca3, #4361ee, #4cc9f0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  color: white;
}

.hero-content h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
}

.hero-content h1 span {
  color: #ffbe0b;
}

.hero-content h2 {
  font-size: 24px;
  margin-top: 10px;
  opacity: 0.9;
}

.hero-content p {
  width: 80%;
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  background: #ffbe0b;
  padding: 12px 30px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(255,190,11,0.7);
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  transform: scale(1.1);
}

.hero-photo img {
  width: 340px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
  border: 8px solid #ffbe0b;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

/* ABOUT */
.about {
  text-align: center;
  padding: 80px 40px;
  background: #f3f4f6;
}

.about h2 {
  font-size: 40px;
  color: #3a0ca3;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

/* SERVICES */
.services {
  padding: 80px 40px;
  text-align: center;
}

.services h2 {
  font-size: 40px;
  color: #4361ee;
  margin-bottom: 40px;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  transition: 0.3s;
  border-top: 7px solid #4361ee;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 70px 20px;
  background: #4cc9f0;
  color: black;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}